@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css2?family=Staatliches&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo:ital,wght@1,300&family=Righteous&display=swap);
body{
    margin: 0;
}
header{
    margin-left: 0px;
    margin-right: 0px;
    display: grid;
    grid-template-columns:0.2fr 1fr ;
    grid-template-rows:auto 1fr auto auto;
    

}
iframe{
    grid-row-start: 2;
    grid-column-start: 2;
    margin-top: 50%;
}
.barre{
    display: flex;
    margin: auto;
    margin-top: 10px;
    grid-row-start: 2;
    grid-column-start: 2;
}
.b1,.b2,.b3{
    font-family: 'Exo', sans-serif;
    font-weight: 1000;
}

input{
    height: 35px;
    border-color: #ae2573;
}
::-webkit-calendar-picker-indicator{
    background-color: #ae2573;
    border-radius: 5px;
    cursor: pointer;
}
select{
height: 41px;
border-left: none;
border-right: none;
border-color: #ae2573;
border-width: 2px;
font-family: 'Exo', sans-serif;
    font-weight: 1000;

}
.b1{
    border-right: none;
    border-radius: 5px 0 0 5px;
}
.b2{
    border-left: none;
    border-right: none;
}
.b3{
    border-left: none;
    height: 37px;
    border-right: none;
}

.go{
    border-left: none;
    padding-bottom: 0px;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    border-color: #ae2573;

}
.covoit>img{
    cursor: pointer;
}
.go>img{
    height: 33px;
}
h2{
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 10%;
    text-align: center;
    font-family: 'Staatliches';
    font-size: 25px;
}
.titre{
    display: flex;
    background-color: #ae2573 ;
    justify-content: space-between;
    height: 50px;
    grid-column-start:2 ;
    margin-left: 1px;

}
.pointer{
    cursor: pointer;
}
.titre>a{
    margin-top: 16px;
    margin-right:20px ;
    color: white;
    font-family: Roboto,sans-serif;
    font-size: 19px;
    font-weight: 400;
    cursor:pointer;
    text-decoration: none;
}
.titre>svg{
    margin-top: 13px;
    margin-left: 20px;
    color: white;
}
.logo{
    width: 250px;
    margin-top: 13%;
    margin-bottom: 5%;
    margin-left:1.7em;
    margin-right: 1em;

}
h3{
    font-size: 35px;
    font-family:'Bebas Neue', cursive;
    text-decoration: underline;
}
.zone{
    grid-column-start: 1;
    grid-row-start:1 ;
    grid-row-end: 4;
    display:block;
    margin-top:0px;
    background-color:#ae2573 ;
    width: 100%;
    height: 100%;
    
}

.menu-vertical {
    background-color: #343a40;
    width: 100%;
    height: 100%;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    grid-column-start: 1;

}
.covoit{
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 15%;
    margin-left: 8%;
    text-align: center;

}
nav  ul li { 
    float: left; 
    list-style: none; 
    margin-top: 10%;
}
.covoiturage{
    background:  white;
}
.covoiturage>a{
    color: #343a40;
}

.covoiturage:hover{
    background: white;
}
.covoiturage>a:hover{
    color:#343a40
}
nav ul ul{
    display: none;
    transition: all 1s ease-in-out;
}
nav  li {
    background:  #343a40;
    width: 100%;
    transition:all 0.3s ease-in-out;
}
nav  li a {
    text-decoration: none; 
    text-align: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    padding: 4px 0 4px;  
    width: 200px;
    transition: all 0.3s ease-in-out;
}


nav  ul {
    padding: 0; 
    margin: 0px; 
    text-align: center;
}
nav  ul.niveau1 li.sousmenu:hover ul.niveau2 { 
    display:list-item;
    
}

nav .sousmenu li>a{
    font-family: 'Righteous', cursive;
    color: rgb(240, 240, 240);
    transition: all 0.3s ease-in-out;
    font-size: 19px;
}

nav .sousmenu li>a:hover{
font-size: 23px;
color:goldenrod;

}
nav a:hover {
    color: #6a8aaa;
   
}

.Logo_iut_lille {
    position:absolute;
    margin-right: 30px;
    margin-left: 0px;
    margin-top: 730px;
}
.Logo_iut_lille>img{
    margin-left: 20%;
}